$color_title: #393e6b;
$color_button: #3b4269;
$color_text: #74757b;
$bg_color: #eff4f4;
$color_active: #2cd3b8;
$color_link: #0da088;

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
}

.header {
    background-color: #ffffff;
    box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
    background: linear-gradient(160deg, rgba(2,0,36,1) 0%, rgba(75,159,180,1) 0%, rgba(56,210,199,1) 39%, rgba(255,255,255,1) 40%);
    
    &__inner {
        padding: 40px 70px;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--login,
        &--menu {
            display: flex;
            align-items: center;
        }
        &--link {
            margin-right: 20px;
            font-size: 18px;
            color: $color_title;
            font-weight: 400;
            text-transform: uppercase;
            &:hover {
                opacity: .7;
                transition: .2s linear
            }
            img {
                width: auto;
                height: 34px;
            }
        }
    }

    .mob {
        &__burger{
            display: none;
            fill: $color_active;
            width: 57px;
            height: 43px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            &--img {
                display: block;
                margin: 0 auto;
                width: 57px;
                height: 43px;
            }
        }
        &__logo {
            display: none;
            width: auto;
            height: 57px;
        }
        &__nav {
            display: none;
            &--link {
                margin-top: 10px;
                color: $color_title;
                font-size: 18px;
                font-weight: 700;
                &:first-child {
                    margin-top: 20px;
                }
            }
        }
    }
}

.section {
    padding: 75px 0;
    background-color: $bg_color;
    &--white {
        background-color: #ffffff;
    }
    .title {
        margin-bottom: 30px;
        width: 608px;
        color: $color_title;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.9px;
        &--big {
            margin-bottom: 44px;
            font-size: 36px;
        }
    }
    .subtitle {
        margin-bottom: 70px;
        color: $color_text;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
    }
    &__text {
        display: block;
        padding: 44px 0 59px 0;
        width: 642px;
        color: $color_text;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.4px;
        &--small {
            width: 650px;
            padding-bottom: 70px;
            color: $color_title;
            font-size: 18px;
            font-weight: 400;
        }
    }
    &__steps {
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
        &--item {
            display: block;
            &__first {
                position: relative;
                &::before {
                    content: "1";
                    display: block;
                    position: absolute;
                    left: -50px;
                    z-index: 1;
                    color: #e1e2e9;
                    font-size: 150px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }
            &__second {
                position: relative;
                &::before {
                    content: "2";
                    display: block;
                    position: absolute;
                    left: -50px;
                    z-index: 1;
                    color: #e1e2e9;
                    font-size: 150px;
                    font-weight: 700;
                    line-height: 24px;
                }
            }
            
            &__img {
                display: block;
                position: relative;
                z-index: 5;
                margin-bottom: 43px;
                width: 50px;
                height: 50px;
                fill: $color_title;
            }
            &__text {
                color: $color_link;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                border-bottom: 1px $color_link solid;
                // text-decoration: underline;
                letter-spacing: 0.4px;
            }
        }
    }
    .button {
        width: 256px;
        height: 48px;
        border-radius: 24px;
        border: transparent;

        font-size: 14px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            opacity: .7;
            transition: .2s linear;
        }
        &--green {
            margin-right: 20px;
            background-color: $color_active;
            color: #ffffff;
        }
        &--border {
            background-color: transparent;
            border: 1px solid #393e6b;
            color: $color_title;
        }
        &--dark {
            background-color: $color_button;
            color: #ffffff;
        }
    }
    &__list {
        &--item {
            display: flex;
            align-items: baseline;
            margin-bottom: 50px;
            &::before {
                display: flex;
                margin-right: 29px;
                content: "";
                width: 8px;
                height: 8px;
                background-color: $color_title;
                border-radius: 100%;
            }
            &__title {
                margin-bottom: 20px;
                color: $color_link;
                font-size: 24px;
                font-weight: 400;
                text-decoration: underline;
                letter-spacing: 0.4px;
            }
            &__subtitle {
                max-width: 770px;
                color: $color_text;
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 0.4px;
                span {
                    font-weight: 700;
                }
            }
        }
        &--line {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 75px;
            }
            &__img {
                display: block;
                width: 74px;
                height: 74px;
                svg {
                    width: 74px;
                    height: 74px;
                }
            }
            &__step {
                margin-left: 37px;
                color: $color_title;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
                span {
                    font-size: 24px;
                    font-weight: 700;
                }
            }
        }
    }
    
    &__linkbox {
        display: flex;
        .item {
            width: 25%;
            display: flex;
            flex-direction: column;
            margin-right: 45px;
            &__line {
                margin-bottom: 45px;
                display: flex;
                align-items: center;
                &--img {
                    display: block;
                    width: 40px;
                    height: 40px;
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }
                &--link {
                    margin-left: 29px;
                    color: $color_link;
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: underline;
                    &:hover {
                        opacity: .5;
                        transition: .2s linear;
                    }
                }
            }
        }
    }
}

.footer {
    background-color: $color_title;
    &__inner {
        padding: 40px 70px;
        display: flex;
        justify-content: space-between;
        span {
            margin-bottom: 3px;
            color: #ada9af;
            font-size: 16px;
            font-weight: 400;
        }
        img {
            display: block;
            margin-bottom: 20px;
        }
        
    }
    &__item {
        display: flex;
        justify-content: space-between;
        width: 50%;
        &--logo {
            display: flex;
            flex-direction: column;
        }
        &--address {
            display: flex;
            flex-direction: column;
        }
        &--contacts {
            display: flex;
            flex-direction: column;
            margin-left: auto;
        }
    }
    .address {
        &__line {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            &:first-child {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }
            &--img {
                display: block;
                margin-right: 10px;
                width: 30px;
                height: 30px;
            }
            &--num {
                margin-bottom: 5px;
                color: #ffffff;
                font-size: 18px;
                font-weight: 700;
                &:hover {
                    opacity: .5;
                    transition: .2s linear;
                }
            }
            &--location {
                color: $color_text;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
    .contacts {
        &__mail {
            margin-bottom: 18px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            &:hover {
                opacity: .5;
                transition: .2s linear;
            }
            &:first-child {
                margin-bottom: 10px;
            }
        }
        &__line {
            display: flex;
            margin-top: 15px;
            &--link {
                width: auto;
                height: 20px;
                &:hover {
                    opacity: .5;
                    transition: .2s linear;
                }
                &__img {
                    display: block;
                    width: 30px;
                    height: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}


@media (max-width: 1112px) {
    .header {
        &__nav {
            &--link {
                font-size: 16px;
            }
        }
    }

    .section {
        &__inner {
            padding: 0 70px;
        }
    }

    .footer {
        &__item {
            width: 60%;
            &:last-child {
                width: 40%;
            }
        }
        .address {
            &__line {
                &--num {
                    font-size: 16px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .header {
        box-shadow: 0 3px 7px rgba(0, 0, 2, 0.25);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%);
        &__nav {
            display: none;
        }

        .mob {
            &__header {
                display: flex;
                align-items: center;
            }
            &__burger {
                display: block;
                fill: $color_active;
                width: 57px;
                height: 43px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                &--img {
                    display: block;
                    margin: 0 auto;
                    width: 57px;
                    height: 43px;
                }
            }
            &__logo {
                display: block;
                margin: 0 auto;
            }
            &__nav {
                display: flex;
                flex-direction: column;
                align-items: center;
                &--link {
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 834px) {
    .header {
        &__inner {
            padding: 40px 50px;
        }
    }
    .section {
        &__inner {
            padding: 0 50px;
        }
    }
    .footer {
        .address,
        .contacts {
            display: none;
        }
    }
}
@media (max-width: 768px) {
    .section {
        .title {
            width: auto;
            font-size: 40px;
            &--big {
                margin: 0;
            }
        }
        .subtitle {
            font-size: 20px;
            line-height: 36px;
        }
        &__text {
            width: auto;
            font-size: 24px;
            line-height: 36px;
            &--small {
                width: auto;
                font-size: 24px;
                letter-spacing: 0.6px;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column;
        }
        .button {
            width: 100%;
            height: 70px;
            border-radius: 45px;
            font-size: 24px;
            &--green {
                margin-bottom: 32px;
                background-color: $color_active;
                color: #ffffff;
            }
            &--border {
                background-color: transparent;
                border: 3px solid #393e6b;
                color: $color_title;
            }
        }
        &__steps {
            width: 90%;
            padding: 0 50px;
            &--item {
                &__text {
                    width: 140px;
                    font-size: 26px;
                }
            }
        }
        &__list {
            &--item {
                &__title {
                    font-size: 26px;
                }
                &__subtitle {
                    font-size: 19px;
                }
            }
            &--line {
                &__step {
                    font-size: 24px;
                }
            }
        }
        &__linkbox {
            display: flex;
            flex-direction: column;
        }
        .item {
            width: 100%;
            margin: 0;
            &__line {
                &--link {
                    font-size: 24px;
                }
                &--img {
                    width: 67px;
                    height: 67px;
                    svg {
                        width: 67px;
                        height: 67px;
                    }
                }
            }
        }
    }
    .footer {
        &__logo {
            display: none;
        }
    }
}
@media (max-width: 536px) {
    .header {
        &__inner {
            padding: 40px 20px;
        }
    }
    .section {
        &__inner {
            padding: 0 20px;
        }
        &__text {
            font-size: 20px;
        }
        &__steps {
            padding: 0 20px;
            width: 100%;
            &--item {
                &__text {
                    width: auto;
                    font-size: 20px;
                }
            }
        }
        &__list {
            &--item {
                &__title {
                    font-size: 20px;
                }
                &_subtitle {
                    font-size: 18px;
                }
            }
            &--line {
                &__step {
                    font-size: 22px;
                }
                &__img {
                    width: 50px;
                    height: 50px;
                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
        .item {
            &__line {
                &--img {
                    width: 55px;
                    height: 55px;
                    svg {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
        .button {
            font-size: 20px;
        }
    }

    .footer {
        &__item {
            width: 100%;
        }
    }
}
@media (max-width: 414px) {
    .header {
        .mob {
            &__logo {
                height: 35px;
                img {
                    height: 35px;
                }
            }
        }
    }
    .section {
        padding: 30px 0;
        .title {
            font-size: 30px;
        }
        .subtitle {
            font-size: 18px;
            line-height: 1.5;
        }
        .button {
            font-size: 18px;
            height: 60px;
        }
        &__text {
            padding: 25px 0;
            font-size: 18px;
            line-height: 1.5;
        }
        &__steps {
            &--item {
                &__text {
                    font-size: 16px;
                }
            }
        }
        &__list {
            &--line {
                &__step {
                    font-size: 18px;
                    span {
                        font-size: 18px;
                    }
                }
            }
        }
        .item {
            &__line {
                &--link {
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .section {
        .subtitle {
            margin-bottom: 50px;
        }
        .button {
            font-size: 16px;
        }
        &__steps {
            &--item {
                &__first {
                    &::before {
                        font-size: 120px;
                    }
                }
                &__second {
                    &::before {
                        font-size: 120px;
                    }
                }
                &__text {
                    font-size: 16px;
                }
            }
        }
        &__list {
            &--item {
                margin-bottom: 30px;
                &::before {
                    display: none;
                }
                &__subtitle {
                    font-size: 16px;
                }
            }
        }
    }
}